<section>
    <div class="col-md-1" ></div>
    <div class="col-md-10 text-center">
        <h2>Add new locations</h2>
        <ui-gmap-google-map center="map.center" control="map.control" events="map.events" refresh="true" zoom="map.zoom" draggable="true" data-tap-disabled="true">

            <ui-gmap-window show="map.window.show" coords="map.window.model" options="map.window.options" closeClick="map.window.closeClick()">
                <div style="color: black">
                    {{map.window.title}}
                </div>
            </ui-gmap-window>

            <ui-gmap-markers
                    idkey="marker.id"
                    models="map.markers"
                    coords="'self'"
                    doCluster="false"
                    icon="'icon'"
                    events="map.markersEvents"
                    options="'options'">

            </ui-gmap-markers>

            <ui-gmap-circle
                    events="map.circlesEvents"
                    ng-repeat="c in map.circles track by c.id"
                    events="c.events"
                    center="c.center"
                    stroke="c.stroke"
                    fill="c.fill"
                    radius="c.radius"
                    visible="c.visible"
                    geodesic="c.geodesic"
                    editable="c.editable"
                    draggable="c.draggable"
                    clickable="c.clickable">

            </ui-gmap-circle>

        </ui-gmap-google-map>
        <br>
        <button class="form-control btn btn-primary" id="btn" type="submit" ng-click="">Submit</button>
    </div>
    <div class="col-md-1" ></div>
</section>